<!-- Loop over each object in the projects array -->
{{#each projects as |project| }}
<div class="card">
  <div class="header">
    <h2><a href="/project/{{project.id}}">{{project.title}}</a></h2>
    <p>Created by {{project.user.username}} on {{format_date project.date_created}}</p>
  </div>
  <div class="footer">
    <p>{{project.description}}</p>
  </div>
</div>
 {{/each}}
